@keyframes bp {
    from {
      background-position:  198px 0;
    }
    
    to {
      background-position:  0 198px;
    }
}

body {
    margin-left: 0px;
    background-image: url(memphis-mini.png);
    /*background-position: bottom;
    animation: 30s linear 0s infinite bp;*/
}
a {
    cursor: pointer;
}

#grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

#cubilete {
    width: 8vw;
    cursor: pointer;
    position: relative;
    top: 25vh;
}

#contenedorPeon {
    width: 15vh;
}

#peon {
    width: 15vh;
    cursor: grab;
}

#peon:active {
    width: 15vh;
    cursor: grabbing;
}

#mano {
    width: 8%;
    height: auto;
    position: absolute;
    transition: 0.4s;
    z-index: 300;
}

section {
    display: grid;
    grid-template-columns: repeat(6, 15vh);
    grid-template-rows: repeat(5, 15vh);
    justify-content: center;
}

section + div {
    visibility: hidden;
}

.casilla {
    background-color: orange;
    border: 4px solid rebeccapurple;
}

.ui-state-active {
    background-color: lime !important;
}

.ui-state-hover {
    background-color: whitesmoke !important;
}

.hueco {
    grid-column: span 5;
}

.wrap {
	perspective: none;
    perspective-origin: 0 0;
    position: absolute;
    /*display: none;*/
    opacity: 0;
}

.cube {
	position: relative;
	width: 4vw;
    transform-style: preserve-3d;
    transform-origin: 2vw 2vw;
}

.cube div {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: bisque;
    background-size: 4vw;
}

.back {
    transform: translateZ(-2vw) rotateY(180deg);
    background-image: url('dado/3.svg');
}
.right {
	transform: rotateY(-270deg) translateX(2vw);
    transform-origin: top right;
    background-image: url('dado/2.svg');
}
.left {
	transform: rotateY(270deg) translateX(-2vw);
    transform-origin: center left;
    background-image: url('dado/5.svg');
}
.top {
	transform: rotateX(-90deg) translateY(-2vw);
    transform-origin: top center;
    background-image: url('dado/1.svg');
}
.bottom {
	transform: rotateX(90deg) translateY(2vw);
    transform-origin: bottom center;
    background-image: url('dado/6.svg');
}
.front {
    transform: translateZ(2vw);
    background-image: url('dado/4.svg');
}

@keyframes spin {
    0% { transform: rotateX(0) rotateY(0); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
}

@keyframes translate {
    0% {
        opacity: 0;
        transform: translateY(0) translateX(0);
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(var(--ydado, -45vh)) translateX(var(--xdado, 0vh));
    }
}

@keyframes emphasis {
    0% {
        transform: scale(1);
        filter: opacity(1);
    }

    100% {
        transform: scale(1.1);
        filter: opacity(0.9);
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(359deg);
    }
}

.emphasis {
    animation: emphasis 0.5s ease-in-out 0s infinite alternate;
}

.rainbow {
    animation: rainbow 2s linear 0s infinite forwards;
}

.cube-anim {
    animation: spin 1.5s ease-out forwards;
    animation-delay: var(--delayDado, 0.5s);
}

.wrap-anim {
    animation: translate 1.5s ease forwards;
    animation-delay: var(--delayDado, 0.5s);
}
